<div class="row mt-5 myregister">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
        <h1 class="text-center mb-3">
            Edit Profile
        </h1>
        <% include ./partials/messages.ejs %>
        <form action="/profile/edit-profile" method="POST" enctype="multipart/form-data" name="file-upload">
            <div class="form-group">
            <label for="displayName">Update Display Name</label>
            <input
                type="displayName"
                id="displayName"
                name="displayName"
                class="form-control"
                placeholder="Enter Display Name"
                value="<%= typeof displayName != 'undefined' ? displayName : '' %>"
            />
            </div>
            <div class="form-group">
                <label>Update Profile Image</label>
                <input type="file" name="image" id="image" class="form-control-file" >
            </div>
            <button type="submit" class="btn btn-primary btn-block">
                Update Profile
            </button>
        </form>
        </div>
    </div>
    <a href="/dashboard">Back</a>
</div>